@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100%;
}


header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 26, 92);
    height: 90px;
    width: 100%;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.562);
    position: fixed;
    z-index: 1000;

}

/* header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(233, 233, 233);
    height: 90px;
    width: 100%;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.562);
    position: fixed;
    z-index: 1000;
    color: black;

} */

header img {

    padding: 10px;

}

header nav {
    /* background-color: blue; */
    margin-right: 50px;
    display: flex;


}

header button {

    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 25px;
    padding: 5px 5px 5px;
    border: none;
    border-radius: 3px;
    height: 35px;
    color: white;
    background: none;
    cursor: pointer;
    transition: 0.3s ease;
}

/* header button {

    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 25px;
    padding: 5px 5px 5px;
    border: none;
    border-radius: 3px;
    height: 35px;
    cursor: pointer;
    background: none;
    transition: 0.3s;
} */

/* header button:hover {
    transform: scale(1.09);
    background-color: rgb(243, 243, 243);
} */


header button:hover {
    transform: scale(1.09);

}

main {
    padding-top: 80px;
}

.principal {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    overflow: hidden;
    /* Garante que a imagem ampliada não ultrapasse o contêiner */

}

.fundo {
    position: absolute;
    width: 100%;
    height: 100%;

}

.imagem-do-fundo {
    width: 100%;
    height: 100%;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgb(5, 17, 48) 20%,rgba(5, 17, 48, 0.767) 50%, rgba(253, 253, 253, 0) 95%);

}

/* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(253, 253, 253, 0) 10%,rgba(243, 243, 243, 0.808) 50%,  rgb(243, 243, 243) 100%);

} */

.perfil img {

    /* width: 100%;  */
    height: 100%;
    transition: 1.5s ease;
    position: absolute;
    bottom: 0;
    left: 100px;

}

.perfil img:hover {

    transform: scale(1.1);

}

/* .info {

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    z-index: 1;
    gap: 30px;
    padding: 50px;
    /* background-color: aqua; 
    margin-right: 200px;


} */


.info {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
    z-index: 1;
    gap: 30px;
    margin-right: 250px;
    /* background-color:blue;   */

}

h2 {
    font-size: 25px;
}

.apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.info button {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 5px 5px 5px;
    border: none;
    border-radius: 3px;
    height: 35px;
    width: 110px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s;
}

.info button:hover {
    transform: scale(1.11);
    background-color: rgb(0, 85, 196);
    color: white;
}

.contatos{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color:aqua; */
    /* position: relative; */
    gap: 30px;
    /* margin-bottom: 30px; */
  
}

.contatos img {
  
    width: 30px;
    transition: 0.3s ease;
    /* position: absolute; */
    /* top: -20px ; */
    /* bottom: 2px; */

}

.github img{
    scale: 1.1;
}

.email img{
    scale: 1.1;
}

.contatos img:hover {
    transform: scale(1.17);

}

#habilidades img {
    width: 150px;
}

.projeto {
    display: flex;
    flex-direction: column;

}